body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
h1:hover{
opacity:0.7;
cursor:pointer;
}

.header{
width:100%;
margin:0px auto 0px;
color:white;
text-align:center;
border:0px solid #D0D0D0;

padding-top:10px;
padding-bottom:10px;
filter:drop-shadow(9px 9px 9px rgba(0,0,0,0.4));
background:linear-gradient(130deg, #E8C2CA,#E8C2CA,#13164f);
background-size:300% 300%;
-webkit-animation:Animation 6s ease infinite;
-moz-animation:Animation 6s ease infinite;
animation:Animation 6s ease infinite;
}
@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: #3498db;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
}

/* Add more styles based on your creativity and design preferences */